pip
setuptools
opencv-python
numpy
pandas
folium
fastapi
pydantic
ultralytics
uvicorn
scipy
tqdm
av
natsort
pillow
pydicom
boto3
botocore
requests
attrs
clickhouse-connect
librosa
onnxruntime
pycocotools
scikit-image
shapely
torch
torchvision
transformers
urllib3

